*{
	margin: 0px;
}
@font-face{
	src:  url('fonts/Bebas Neue/BebasNeue-Regular.ttf');
	font-family: Bebas-Neue;
}
/*@font-face{
	src:  url('../fonts/Lobster/Lobster-Regular.ttf');
	font-family: lobster;
}*/
@font-face{
	src:  url('fonts/Kanit/Kanit-ExtraBold.ttf');
	font-family: kanit-bold;
}
body{
	background-color: #20124d;
	color: ghostwhite;
	text-align: center;
}
.important-color{
	color: #ffd966;
	text-shadow: none;
}
header{
	font-family: Bebas-Neue;
	font-size: 30px;
	background-color: #073763;
	padding: 20px 50px;
	letter-spacing: 2.5px;
	border: 1px solid black;
	border-radius: 3px;
}
.icons{
	display: grid;
	grid-auto-columns: auto;
	margin: 20px 50px;
	height: auto;
	/*border: 1px solid;*/
}
img{
	width: 50px;
	height: 50px;
}
p{
	display: inline;
	font-family: kanit-bold;
	letter-spacing: 1.1px;
	font-size: 20px;
	color: floralwhite;
	background-color: black;
	border-radius: 7px;
	padding: 10px;
}
input{
	width: 50px;
	height: 50px;
	font-size: 45px;
	padding-left: 10px;
	border-radius: 5px;
	text-align: center;
	background-color: midnightblue;
	color: whitesmoke;
	font-family: kanit-bold;
}
.small{
	width: 15px;
	height: 15px;
	margin-left: 3px;
	background-color: bisque;
}
.medium{
	width: 25px;
	height: 25px;
	margin-left: 5px;
	background-color: bisque;
	margin-top: 5px;
}
#memory-box{
	width: 650px;
	height: 210px;
	overflow: auto;
	white-space: nowrap;
	border: 5px solid;
	background-color: darkred;
	margin: auto;
	margin-top: 20px;
}
